# .env 파일 무시
.env

# 가상환경 폴더 무시 (이미 잘 되어 있음)
venv/

# 파이썬 캐시 무시
__pycache__/
*.pyc
.env
node_modules/
uploads/
minio-test.ipynb
create-sample.py
hub-operator/python-example/create-sample.py
exporter/test/
manifest/secret/
manifest/configmap/
dispatcher/request-test.py
code_sample/
scheduler/weight
scheduler/logs
